<section
  class="grid grid-cols-2 max-w-6xl gap-4 m-auto px-6 pt-20 pb-10 w-full"
>
  <a
    class="col-span-2 lg:col-span-1 w-full rounded hover:scale-[102%] hover:contrast-[110%] block transition"
    href="https://www.revolut.com/es-ES/promo/velada-de-ibai/"
    target="_blank"
    rel="noopener nofollow"
  >
    <img
      class="aspect-[26/9] object-cover w-full rounded border border-white/10"
      src="https://lavelada.es/wp-content/uploads/2023/05/INH_INH_Retail_598_LaVeladadelAnoIIIConsigue20E_IMG_580x200_NA_H_1_ES_ES_Apr2023_.png"
      alt="Consigue 20€ por abrir tu cuenta en Revolut"
    />
  </a>

  <a
    class="col-span-2 lg:col-span-1 w-full rounded hover:scale-[102%] hover:contrast-[110%] block transition"
    href="https://cloud.e.alsa.com/veladaIII?utm_source=c%C3%B3mo_llegar&utm_medium=web&utm_campaign=2023_07_lavelada&utm_content=abr-jul"
    target="_blank"
    rel="noopener nofollow"
  >
    <img
      class="aspect-[26/9] object-cover object-left w-full rounded border border-white/10"
      src="https://lavelada.es/wp-content/uploads/2023/05/Como-LLegar-600x1080-1.png"
      alt="Descuento del 40% en tu viaje con Alsa"
    />
  </a>
</section>
