<footer class="w-full m-auto relative">
  <div
    class="footer_bg absolute inset-0 bg-[url('assets/lavelada-footer-background.webp')] bg-no-repeat bg-bottom bg-scroll bg-cover -z-10"
  >
  </div>

  <div
    class="mx-auto max-w-6xl w-full overflow-hidden px-6 py-10 sm:py-24 lg:px-8"
  >
    <div
      class="mt-10 flex flex-col md:flex-row gap-y-8 justify-between items-center"
    >
      <nav class="flex gap-x-4 flex-grow basis-0 justify-start">
        <a
          href="https://instagram.com/infolavelada/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg
            class="w-8 h-8 text-white hover:text-yellow-300 transition"
            xmlns="http://www.w3.org/2000/svg"
            width="800"
            height="800"
            viewBox="0 0 20 20"
          >
            <path
              fill="currentColor"
              fill-rule="evenodd"
              d="M5.869652.12273C4.241769.19618 2.830805.5942 1.691486 1.72871.548187 2.86918.155147 4.28558.081514 5.89653c-.045772 1.00548-.313437 8.60165.462693 10.59375.52339 1.34394 1.55425 2.37721 2.910487 2.90228.632844.24616 1.355242.41291 2.414958.46155 8.860815.401 12.145437.18263 13.53053-3.36383.245774-.63128.414931-1.35288.461698-2.40997.40498-8.88354-.065673-10.80914-1.609972-12.3516C17.027016.50685 15.5862-.32492 5.869652.12273m.081593 17.94475c-.970162-.04368-1.496538-.20547-1.847786-.34145-.883594-.34343-1.547285-1.00448-1.888583-1.88291-.591053-1.51368-.39503-8.70289-.342293-9.86619.051742-1.13948.282591-2.18069 1.086582-2.98467.995038-.99258 2.280627-1.47894 11.033979-1.08389 1.142304.05161 2.186099.28189 2.99208 1.08389.995038.99257 1.488577 2.28788 1.086582 11.00765-.043782.96776-.205973 1.49283-.342293 1.84321-.90051 2.30773-2.97218 2.62833-11.778268 2.22436m8.138418-13.37792c0 .65709.534335 1.19109 1.194046 1.19109.65971 0 1.195041-.534 1.195041-1.19109 0-.65708-.535331-1.19109-1.195041-1.19109-.659711 0-1.194046.53401-1.194046 1.19109m-9.22699 5.29836c0 2.81494 2.287593 5.09687 5.109521 5.09687 2.821929 0 5.109522-2.28193 5.109522-5.09687s-2.287593-5.09587-5.109522-5.09587c-2.821928 0-5.109521 2.28093-5.109521 5.09587m1.793059 0c0-1.82633 1.484597-3.30825 3.316462-3.30825 1.831866 0 3.316463 1.48192 3.316463 3.30825 0 1.82733-1.484597 3.30924-3.316463 3.30924-1.831865 0-3.316462-1.48191-3.316462-3.30924"
            ></path>
          </svg>
        </a>

        <a
          href="https://twitter.com/infoLaVelada/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg
            class="w-8 h-8 text-white hover:text-yellow-300 transition"
            xmlns="http://www.w3.org/2000/svg"
            width="800"
            height="800"
            viewBox="0 -2 20 20"
          >
            <path
              fill="currentColor"
              fill-rule="evenodd"
              d="M6.29 16c7.547 0 11.675-6.15635 11.675-11.49454 0-.17525 0-.34951-.012-.52279.803-.57104 1.496-1.27991 2.047-2.09117-.748.32687-1.543.5415-2.356.63601.856-.50507 1.497-1.29861 1.804-2.23491-.806.47061-1.687.8024-2.606.98061-1.554-1.62647-4.153-1.70523-5.806-.17525-1.065.98651-1.518 2.45742-1.187 3.86039C6.55 4.79492 3.476 3.261 1.392.73762.303 2.58363.86 4.94457 2.663 6.12996 2.01 6.11125 1.371 5.93797.8 5.62489v.05119C.801 7.5989 2.178 9.2549 4.092 9.63591c-.604.16245-1.238.18608-1.852.06892.537 1.64616 2.078 2.77346 3.833 2.80595-1.453 1.12435-3.248 1.73476-5.096 1.7328-.326-.00099-.652-.0197-.977-.05809C1.877 15.37088 4.06 16 6.29 15.99705"
            ></path>
          </svg>
        </a>
      </nav>

      <img
        class="w-80 h-auto"
        src="/assets/lavelada-footer-logo.png"
        alt="Logo del pie de p치gina de La Velada del A침o"
      />

      <div class="flex-justify-end flex-grow basis-0">
        <img
          class="w-80 h-auto"
          src="/assets/partners.png"
          alt="Patrocinadores de La Velada del A침o"
        />
      </div>
    </div>

    <p class="mt-10 text-center text-xs leading-5 text-white">
      &copy; 2023 La Velada del A침o. Todos los derechos reservados.
    </p>
  </div>
</footer>
