<header class="relative">
  <div
    class="md:absolute md:left-1/2 md:-translate-x-1/2 md:mt-0 md:top-8 flex flex-col gap-1 justify-center items-center mt-4 z-10"
  >
    <img
      class="w-32 lg:w-64 h-auto"
      src="/assets/lavelada-logo.webp"
      alt="Logo La Velada del Año III"
      width="385"
      height="412"
    />

    <h1
      class="font-boxing text-3xl lg:text-5xl text-center text-white font-bold"
    >
      <span
        class="bg-clip-text text-transparent bg-gradient-to-b from-white via-gray-300 to-white inline-block leading-relaxed"
      >
        la velada del año
      </span>
      <span class="text-yellow-300">III</span>
    </h1>
  </div>
</header>
