<section class="max-w-6xl gap-4 m-auto px-6 pt-10 pb-20 w-full">
  <h2
    class="font-boxing text-white pb-4 uppercase text-center text-4xl font-extralight"
  >
    ¿Cómo llegar al evento?
  </h2>

  <a
    class="hover:scale-[102%] hover:contrast-[110%] block transition w-full"
    href="https://www.google.com/maps/place/Estadio+C%C3%ADvitas+Metropolitano/@40.4351624,-3.604488,16.61z/data=!4m6!3m5!1s0xd422fea8401b789:0x245d0d64dad50ec4!8m2!3d40.4361939!4d-3.5994674!16s%2Fm%2F05515km"
    target="_blank"
    rel="noopener noreferrer"
  >
    <img
      class="rounded shadow-lg shadow-gray-100 w-full h-auto border border-black/10 invert"
      src="/assets/map.png"
      alt="Mapa de la localización de La Velada del Año"
      loading="lazy"
    />
  </a>
</section>
